# Object file
*.o

# Ada Library Information
*.ali

# GPS editr temporary files
src/.\#*\#

lib/libBall_On_Beam_Simulator_Lib.a
obj/ball_on_beam_adc.adb.stderr
obj/ball_on_beam_adc.adb.stdout
obj/ball_on_beam_simulator-gui-controller.adb.metrix
obj/ball_on_beam_simulator-gui-controller.adb.stderr
obj/ball_on_beam_simulator-gui-controller.adb.stdout
obj/ball_on_beam_simulator-gui-controller.ads.metrix
obj/ball_on_beam_simulator-gui-view.adb.metrix
obj/ball_on_beam_simulator-gui-view.adb.stderr
obj/ball_on_beam_simulator-gui-view.adb.stdout
obj/ball_on_beam_simulator-gui-view.ads.metrix
obj/ball_on_beam_simulator-gui.adb.metrix
obj/ball_on_beam_simulator-gui.adb.stderr
obj/ball_on_beam_simulator-gui.adb.stdout
obj/ball_on_beam_simulator-gui.ads.metrix
obj/ball_on_beam_simulator-gui_v2.adb.stderr
obj/ball_on_beam_simulator-gui_v2.adb.stdout
obj/ball_on_beam_simulator-loc.xml
obj/ball_on_beam_simulator.adb.metrix
obj/ball_on_beam_simulator.adb.stderr
obj/ball_on_beam_simulator.adb.stdout
obj/ball_on_beam_simulator.ads.metrix
obj/Ball_On_Beam_Simulator_Lib.lexch
obj/bb-adc.adb.stderr
obj/bb-adc.adb.stdout
obj/bb-gui-controller.adb.stderr
obj/bb-gui-controller.adb.stdout
obj/bb-gui-view.adb.stderr
obj/bb-gui-view.adb.stdout
obj/bb-gui.adb.stderr
obj/bb-gui.adb.stdout
obj/bb-gui.ads.stderr
obj/bb-gui.ads.stdout
obj/bb-ideal.adb.stderr
obj/bb-ideal.adb.stdout
obj/bb-ideal.ads.stderr
obj/bb-ideal.ads.stdout
obj/bb.adb.stderr
obj/bb.adb.stdout
obj/bb.ads.stderr
obj/bb.ads.stdout
obj/bb_common.ads.stderr
obj/bb_common.ads.stdout
obj/csv_logs.adb.stderr
obj/csv_logs.adb.stdout
obj/gpsauto.cgpr
obj/main.adb.stderr
obj/main.adb.stdout
obj/

# Mac stuff
*.DS_Store
